/* src/styles/App.css */
/* Color Palette
Main/Background: #2D0B47
Secondary: #6A4B87
Accent: #396682
Black Text: #050814
White Text: #FFE5E5
*/

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html, body, header, a, button {
  font-family: "Red Hat Display", sans-serif;
  background-color: #2D0B47;
  color: #FFE5E5;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.app-container {
  flex-grow: 1;
  display: flex;
}

header, footer {
  text-align: center;
}

